<div class="wrap mb-2">
  <h4>第 {{ index() + 1 }} 層</h4>
  @if (levelForm(); as form) {
    <form [formGroup]="form">
      <button
        type="button"
        mat-icon-button
        color="warn"
        class="level-delete-btn"
        (click)="remove.emit()"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <div class="row g-3 w-100 mt-1">
        <div class="col-12 col-md-3">
          <div class="sub-wrap h-100">
            <mat-label>審核規則 Setting</mat-label>
            <mat-radio-group formControlName="setting">
              @for (item of settingList; track item.id) {
                <mat-radio-button [value]="item.id">{{
                  item.name
                }}</mat-radio-button>
              }
            </mat-radio-group>
          </div>
        </div>

        <div class="col-12 col-md-9">
          <div class="sub-wrap">
            <mat-label>審核人員 Approvers</mat-label>
            <mat-icon class="add-btn" color="primary" (click)="onAddApprover()"
              >add_circle</mat-icon
            >

            <div formArrayName="approvers" class="approver-list">
              @for (
                item of approverArray.controls;
                track item;
                let i = $index
              ) {
                <div class="approver-item">
                  <button
                    type="button"
                    mat-icon-button
                    color="warn"
                    class="delete-btn"
                    (click)="onRemoveApprover(i)"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <h4>{{ item.value.name }}</h4>
                  <p>{{ item.value.title }}</p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </form>
  }
</div>
